@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Hand:wght@400..700&family=Marck+Script&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body {
    background: #1c1c1c;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.hed .container {
    margin: 20px auto 0 auto;
    justify-content: space-between;
}

.list {
    align-items: center;
    justify-content: space-between;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.list li a {
    color: #fff;
    text-decoration: none;
    opacity: 0.7;
}

.list li a:hover {
    opacity: 0.9;
}

.list li a:active {
    opacity: 1;
}

td a {
    color: #fff;
}

.container {
    max-width: 700px;
    margin: 0 auto;
}

.form {
    margin: 0 auto;
}

.table {
    width: 100%;
    border: none;
    margin-bottom: 20px;
}
.table thead th, .table1 thead th {
    padding: 10px;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Shantell Sans', cursive;
    line-height: 20px;
    text-align: center;
    color: #fff;
    border-top: 2px solid #716561;
    border-bottom: 2px solid #716561;
    align-self: center;
}
.table tbody td, .table1 tbody td {
    padding: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    border-top: 1px solid #716561;
}

.table1 {
    width: 30%;
    border: none;
    margin-bottom: 20px;
}


.main {
    margin-bottom: 40px;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 10px;
    width: 600px;
}

.add_dds {
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid #fff;
    width: 150px;
    height: 40px;
    opacity: 0.7;
}

.add_dds a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    opacity: 0.7;
}

.add_dds a:hover, .add_dds:hover, form input[type=submit]:hover {
    opacity: 1;
}

form input[type=submit] {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    opacity: 0.7;
    font-size: 16px;
}

form input[type=text], form input[type=number] {
    width: 30%;
    height: 30px;
    border-radius: 5px;
    font-size: 20px;
}
form input[type=text]:focus {
    border: 3px solid #716561;
}

form p label {
    font-size: 18px;
}

form p select, form p input[type=datetime-local] {
    width: 30%;
    height: 35px;
    border-radius: 5px;
    font-size: 20px;
    border: 1px solid #fff;
}