{% extends 'main/base.html' %}
{% block title %}Главная страница{% endblock %}
{% block content %}
<h1>Управление движением денежных средств </h1>
<form method="GET">
    {{ filter_form.as_p }}
    <button type="submit">Применить</button>
</form>
<a href="{% url 'add_dds' %}">Добавить запись</a>
<table>
    <thead>
    <tr>
        <th>Дата</th>
        <th>Статус</th>
        <th>Тип</th>
        <th>Категория</th>
        <th>Подкатегория</th>
        <th>Сумма</th>
        <th>Комментарий</th>
    </tr></thead>
    <tbody>
    {% for entry in ddes %}
    <tr>
        <td align="center">{{ entry.date }}</td>
        <td align="center">{{ entry.status }}</td>
        <td align="center">{{ entry.subcategory.category.type }}</td>
        <td align="center">{{ entry.subcategory.category }}</td>
        <td align="center">{{ entry.subcategory }}</td>
        <td align="center">{{ entry.amount }} ₽</td>
        {% if entry.comment == '' %}
        <td align="center">-</td>
        {% else %}
        <td align="center">{{ entry.comment }}</td>
        {% endif %}
        <td align="center"><a href="edit_dds/{{ entry.id }}" class="btn btn-warning btn-sm">Изменить</a></td>
        <td align="center"><a href="delete_dds/{{ entry.id }}" class="btn btn-danger btn-sm">Удалить</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}